/*J4C Color Palette

teal(light blue): #5ac8e6 ;
dark grey: #3e3b48 ;
purple: #8852a1 ;

*/


body {
	display: inline-block;
	height: 100%;
	width: 100%;
	margin: 0;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}
h1, p {
	margin-top: 0;
	padding-top: 20px;
	padding-left: 50px;
	padding-right: 50px;
}
nav {
	margin: auto; 
	text-align: center;
	width: 100%;
	display: inline-block;
	background: #3e3b48; 
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
}

nav ul li a {
	text-decoration: none;
	color: white;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 

}
nav ul li a:hover {
	text-decoration: none;
	color: white;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 

}
nav ul li a:visited {
	text-decoration: none;
	color: white;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 

}



nav ul ul {
	display: none;
	margin: 0;
}

	nav ul li:hover > ul {
		display: block;
	}


nav ul {
	list-style: none;
	position: relative;
	display: inline-table;
	float: right;
	margin: 0;
}
	nav ul:after {
		content: ""; clear: both; display: block;
	}

	nav ul li {
		float: left;
	}
		nav ul li:hover {
			background: #8852a1;
		}
			nav ul li:hover {
				color: white;
			}
		
		nav ul li {
			display: block; padding: 10px 40px;
			color: white; text-decoration: none;
		}
			
		
	nav ul ul {
		background: #8852a1; border-radius: 0px; padding: 0;
		position: absolute; top: 100%; z-index: 1000;
	}
		nav ul ul li {
			float: none; 
			border-top: 1px solid white;
			border-bottom: 1px solid white; position: relative; z-index: 1000;
		}
			nav ul ul li {
				padding: 15px 40px;
				color: #fff;
			}	
				nav ul ul li:hover {
					background: #3e3b48;
				}
		
	nav ul ul ul {
		position: absolute; left: 100%; top:0; z-index: 1000;
	}

footer {

}

.main_container {
	overflow-y: scroll;
	position: absolute;
	left: 0;
	top: 38px;
	right: 0;
	bottom:0;
	z-index: 0;
}

.logo {
	height: 50%;
	opacity: 0;
	padding-top: 2%;
}

.icon {
	padding-top: 2%;
	height: 30%;
}

.icon img {
	height: 30%;
}

.container {
	overflow-y: scroll; 
}
.circle {
	height: 100%;
	display: block;
}

.container_title {
	text-align: center;
	color: #8852a1;
	font-size: xx-large;
	padding-top: 20px;
}

.container_subtitle {
	text-align: center;
	color: #8852a1;
	font-size: x-large;
	margin-top: 40px;
}

.side_scroller {
	width: 5px;
	position: absolute;
	z-index: 10;
	pointer-events: none;
}

.section{
	pointer-events:none;
}

.highlight_box {
	margin-top: 40px;
	display: inline-block;
	width: 33%;
	float: left;
	padding: 2px;
	text-align: center;
}

.it_starts_here {
	text-align: center;
	padding-left: 30px;
	padding-right: 30px;
}

#message {
	font-size: x-large;
	font-weight: lighter;
	padding-top:10px ;
	width:100%;
}

.who_we_are {
	text-align: center;
}

.who_we_are p {
	text-align: center;
	padding-right: 100px;
	padding-left: 100px;
}

.how_it_works {
	text-align: center;
	color: white;
	background-color: #3e3b48;
	padding-left: 150px;
	padding-right:150px;
}

.contact_us {
	padding: 0 150px;
	text-align: center;
}

.contact_info {
	text-align: center;
	color: #8852a1;
	font-size: medium;
	margin-top: 20px;
}

.contact_info_box {
	margin-top: 68px;
	border-radius: 10px;
	border: thin solid #3e3b48;
	width: 300px;
	padding-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
}

.info_box {
	margin-top: 68px;
	border-radius: 10px;
	border: thin solid #8852a1;
	padding-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	padding-left: 5%;
}

.faq {
	background-color: #8852a1;
	color: white;
	text-align: center;
	padding-left: 150px;
	padding-right:150px;
}


.faq_container_title {
	color: white;
	text-align: center;
	font-size: xx-large;
	padding-top: 20px;
}

.faq_container_subtitle {
	color: white;
	text-align: center;
	font-size: x-large;
	padding-top: 20px;
}

.how_it_works h1 {
	padding-top: 100px;
	text-align: center;
}


.call_to_action {
	width: 100%;
	margin-top: 50px;
}

.call_to_action td a {
	background-color: white;
	color: #8852a1;
	font-weight: lighter;
	font-size: x-large;
	text-align: center;
	text-decoration: none;
}

.ongoing_table {
	width: 100%;
	margin-top: 10px;
	border-spacing: 20px;
	margin-top: 50px;
}

.ongoing_table tr{
	width: 100%;
	margin-top: 5px;
}

.ongoing_table td a{
	font-size: large;
	width: 100%;
	margin-top: 10px;
	background-color: #8852a1;
	color: white;
	text-decoration: none;
	padding: 5px;
	border-radius: 5px;
}

.ongoing_table td a:hover{
	background-color: #5ac8e6;
	
}

@media only screen and (max-width: 1200px) {

.highlight_box {
	width: 30%;
}

.highlight_box p {
	padding-left: 50px;
	padding-right: 50px;
}

.ongoing_box {
	width: 50%;
	float: left;
	padding: 0;
}

}

@media only screen and (max-width: 930px) {

.container {
	overflow-y: visible;
}

.icon {
	display: none;
}

.highlight_box {
	width: 100%;
	margin-top: 0
}

.container_subtitle {
	padding-top: 10px;
	margin-top: 10px;
}

.highlight_box p {
	padding-left: 50px;
	padding-right: 50px;
}
.highlight_box table {
	margin-top: 10px;
}


}


